{% extends '_wrapper.twig' %}
{% block main %}

<div class="container-fluid p-0" id="about-header">
    <div class="header-title-div">
        <div class="shadow" data-aos="fade-right">
            <p class="display-4">Next Millennium <br> Productions Cast</p>
        </div>
    </div>

</div>
<div class="container-fluid" id="about">
    {%- include('about/profiles') %}
    {%- include('about/sustainability') %}

</div>

{% endblock %}