<div class="row" id="profiles">
    <div class="" id="team">
        <!-- Movers -->
        <div class="row py-5">
            <div class="col-sm-12">
                <p class="display-4 text-center m-0 about-titles">Directors</p>
            </div>
        </div>
        {# <div class="row profiles-row"> #}
        {# <div class="card"> #}
        {# #}
        {# #}{# <div class="col-sm-12 p-0"> #}
        {# #}
        {# <div class="img-container" id="img-container-1"></div> #}
        {# <!-- <img src="/images/team/TeamSlide-4.jpg" class="card-img-top" alt="..."> --> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <div class="img-container" id="img-container-2"></div> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <div class="img-container" id="img-container-3"></div> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Colin</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}

        {# #}{# </div> #}

        {# </div> #}

        <!-- Shakers -->
        {# <div class="row py-5"> #}
        {# <div class="col-sm-12"> #}
        {# <p class="display-4 text-center m-0 about-titles">Movers</p> #}
        {# </div> #}
        {# </div><div class="row py-5"> #}
        {# <div class="col-sm-12"> #}
        {# <p class="display-4 text-center m-0 about-titles">Movers</p> #}
        {# </div> #}
        {# </div> #}
        {# <div class="row profiles-row"> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-1.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-5.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-6.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# </div> #}
        {# <div class="row py-5 profiles-row"> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-7.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-8.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# <div class="card"> #}
        {# <img src="/images/team/TeamSlide-9.jpg" class="card-img-top" alt="..."> #}
        {# <div class="card-body"> #}
        {# #}{# <h5 class="card-title">Person Name</h5> #}
        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        {# #}{# <a href="#" class="btn btn-info">Email</a> #}
        {# </div> #}
        {# </div> #}
        {# </div> #}

        <div class="row">
            {% set matrixBlocks = entry.aboutGallery %}
            {% for block in matrixBlocks %}
                {% set pics = block.staffImage %}
                {% for pic in pics %}
                    <div class="col-sm-12 col-md-3 p-3">
                        <a class="set-gallery-img-link" href="{{ pic.getUrl() }}"
                           data-lightbox="image-1" data-title="My caption">
                            <img src="{{ pic.getUrl() }}" alt="" class="img-fluid">
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    </div>

</div>