<div class="row" id="sustainability-header">
    <!-- <div class="sus-header py-4">
        <p class="display-4 py-4">Sustainability</p>
    </div> -->
</div>
<div class="row py-5" id="sus-content">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
            <p class="display-4 py-4 text-center">Sustainability</p>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="sus-images">
            <div class="img-block" id="img-block-1">
                <img src="/images/sus/composted.jpg" alt="" class="img-fluid">
            </div>
            <div class="img-block" id="img-block-2">
                <img src="/images/sus/hybrid.jpg" alt="" class="img-fluid">
            </div>
            <div class="img-block" id="img-block-3">
                <img src="/images/sus/leftovers.jpg" alt="" class="img-fluid">
            </div>
            <div class="img-block" id="img-block-4">
                <img src="/images/sus/plant-based.jpg" alt="" class="img-fluid">
            </div>
            <div class="img-block" id="img-block-5">
                <img src="/images/sus/solar.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
{#                <p class="lead text-center">Keeping the world safe for humans and animals is always on our minds. And the natural#}
{#                    systems we all depend on are under siege. That’s why we commit part of our bottom line to protecting#}
{#                    the earth and all its species.</p>#}
                <p class="lead text-center">We all live on the same planet and its our responsibility to act responsibly. Here are some of the ways Next Millennium is trying to do our part.
                </p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>