<div class="container-fluid" id="boxCTA">
    <div class="container">
        <div class="row boxCTA-row">

            <!-- PRODUCTION BOX -->
            {# Create a Matrix block query with the 'owner', 'fieldId', and 'type' parameters #}
            {% set myMatrixBlockQuery = craft.matrixBlocks().fieldId(5).type('service') %}

            {# Fetch the Matrix blocks #}
            {% set matrixBlocks = myMatrixBlockQuery.all() %}

            {# Display their contents #}
            {% for block in matrixBlocks %}
                {% set images = block.serviceBackgroundImage %}


                <div class="services-3-col" data-aos="fade-right"
                     style="background-image: url({% for img in images %}{{ img.getUrl }}{% endfor %})">
                    <div class="service-col-content">
                        <div class="service-col-content-text">
                            {# <h1 class="display-4">Production <br> Services</h1> #}
                            <h1 class="display-4">{{ block.serviceTitle }}</h1>
                        </div>
                        <div class="hover-content-box">
                            <p class="box-popup">{{ block.serviceContent }}</p>
                            <a class="btn btn-lg" href="/services">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>