<div class="container-fluid py-5" id="clients">
    <div class="row">
        <div class="col-sm-12">
            <p class="display-4 text-center py-1" style="font-weight: bold !important;">Clients</p>
        </div>
    </div>
    <div class="container">
        <div class="row"> 

                <div class="owl-carousel clients-owl-carousel">
                        <div><img src="/images/clients/atnt.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/aol.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/blue.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/crime.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/diy.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/history.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/hp.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/id.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/jpmorgan.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/lifetime.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/nbc.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/nick.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/nyc.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients/tlc.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/amp.jpg" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/animal-planet.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/ate.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/bio.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/discovery.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/HBO.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/Janssen-logo-and-jandj-logo-2.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/lwt.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/mlb.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/novartis.png" alt="" class="img-fluid"></div>
                        <div><img src="/images/clients2/prNewswire.png" alt=""class="img-fluid"></div>
                        <div><img src="/images/clients2/ubm.png" alt="" class="img-fluid"></div>                        
                </div>

        </div>
    </div>
</div>