<div class="container-fluid " id="clients">
    <div class="row">
        <div class="col-sm-12">
            <p class="display-4 text-center clients-title-text">Clients</p>
        </div>
    </div>

    <!-- GLIDE JS -->
    <div class="row owl-carousel-row glider-container">
        <div class="col-sm-12">
            <div class="glide">
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i
                                class="fas fa-chevron-left"></i></button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% set myMatrixBlockQuery = craft.matrixBlocks().fieldId(12).type('client') %}
                        {% set matrixBlocks = myMatrixBlockQuery.all() %}
                        {% for block in matrixBlocks %}
                            {% set images = block.logo %}
                            {% for img in images %}
                                <li class="glide__slide"><img src="{{ img.getUrl() }}" alt="{{ img.fileName }}" class="img-fluid"></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                                class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>