<div class="container-fluid" id="homeCTA">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                <p class="text-center lead">{{ entry.homeCtaText }}</p>
                <div class="location__cta text-center mt-4">
                    <a href="#" class="btn btn-lg">{{ entry.homeCtaLinkText }}</a>
                </div>
            </div>
        </div>
    </div>
</div>