<div class="container-fluid bg-light" id="hover-pics">
    <div class="row">
        <div class="col-sm-12 col-md-6 p-0">
            <div class="img-hover-box" id="hover-box-1">
                <img class="img-fluid hover-img" src="/images/hover-pics/hover-1-brick.jpg" alt=""> 
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-0">
            <div class="img-hover-box" id="hover-box-2">
                <img class="img-fluid hover-img" src="/images/hover-pics/hover-2-brick.jpg" alt=""> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 p-0">
            <div class="img-hover-box" id="hover-box-3">
                <img class="img-fluid hover-img" src="/images/hover-pics/hover-3-brick.jpg" alt=""> 
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-0">
            <div class="img-hover-box" id="hover-box-4">
                <img class="img-fluid hover-img" src="/images/hover-pics/hover-4-brick.jpg" alt="">    
            </div>
        </div>
    </div>
</div>