<div class="container-fluid" id="jumbo">
    <div class="row jumbo-header">
        <div class="jumbo-page-header-content">
            <div class="container">
                <div class="shadow" data-aos="fade-right">
                    <p class="display-4 m-0 text-white">{{ entry.homeTitle }}</p>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">{{ entry.homeSubTitle }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>