<div class="container-fluid" id="jumbo">
    <div class="row jumbo-header">
        <div class="jumbo-page-header-content">
            <div class="container">
                <div class="shadow" data-aos="fade-right">
                    <p class="display-4 m-0 text-white">Studios, Production, Creative</p>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">Everything's right here, we just need your story</li>
                        {# <li class="list-inline-item">Production &nbsp;&nbsp;|</li> #}
                        {# <li class="list-inline-item">Creative </li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>