<div class="container-fluid p-0" id="studio">
    <div class="row services-page-header home-jumbo">
        <div class=" margin-header">
            <div class="services-page-header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="shadow" data-aos="zoom-in-right">
                                <p class="display-4 m-0 text-white">{{ entry.homeTitle }}</p>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">{{ entry.homeSubTitle }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



