
<div class="container-fluid" id="feed">
    <div class="row">
        <div class="col-sm-12" style="position:relative;">
            <div class="text-center py-4">
                <a href="https://www.instagram.com/nmpfilms/" class="mx-auto display-4 text-center feed-title m-0"
                    target="_blank">Follow Us on Instagram</a>
            </div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-c8f2a834-daeb-49e5-80fe-6f861474d3e6"></div> 

        </div>
    </div>
</div>