<div class="container-fluid bg-dark main-nav" id="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logos/nav-logo.png" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-plus-square" style="color: #FFFFFF"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <!-- Example split danger button -->
                        <div class="btn-group">
                            <a href="/services" type="button" class="btn">Services</a>
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/services#production-container">Production</a></li>
                                <li><a class="dropdown-item" href="/services#post-container">Post</a></li>
                                <li><a class="dropdown-item" href="/services#broadcasting-container">Broadcasting</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <a href="/studios" type="button" class="btn">Studios</a>
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                <li><a class="dropdown-item" href="/studios/studio-a">Studio A</a></li>
                                <li><a class="dropdown-item" href="/studios/studio-b">Studio B</a></li>
                                <li><a class="dropdown-item" href="/studios/rooftop">Rooftop</a></li>
                                <li><a class="dropdown-item" href="/studios/eastside-stages-studio-1">ESS 1</a></li>
                                <li><a class="dropdown-item" href="/studios/eastside-stages-studio-2">EES 2</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group">
                            <a href="/work" type="button" class="btn">Work</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="btn-group">
                            <a href="/studios" type="button" class="btn">About</a>
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                <li><a class="dropdown-item" href="/about#about">Team</a></li>
                                <li><a class="dropdown-item" href="/about#sus-content">Sustainability</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-contact" href="mailto:info@nmpfilms.com">Contact</a>
                    </li>
                </ul>
                {# <form> #}
                {# <input class="form-control" type="text" placeholder="Search" aria-label="Search"> #}
                {# </form> #}
            </div>
        </div>
    </nav>

</div>