<div class="container-fluid bg-dark main-nav" id="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- BRAND -->
            <a class="navbar-brand" href="/"><img src="/images/logos/nav-logo.png" class="img-fluid" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Services </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/services#production-container">Production</a></li>
                            <li><a class="dropdown-item" href="/services#post-container">Post</a></li>
                            <li><a class="dropdown-item" href="/services#broadcasting-container">Broadcasting</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Studios </a>
                        <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="/studios/studio-a">Studio A</a></li>
                             <li><a class="dropdown-item" href="/studios/studio-b">Studio B</a></li>
                             <li><a class="dropdown-item" href="/studios/rooftop">Rooftop</a></li>
                             <li><a class="dropdown-item" href="/studios/eastside-stages-studio-1">ESS 1</a></li>
                             <li><a class="dropdown-item" href="/studios/eastside-stages-studio-2">EES 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/work"> Work </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> About </a>
                        <ul class="dropdown-menu">
                             <li><a class="dropdown-item" href="/about#about">Team</a></li>
                             <li><a class="dropdown-item" href="/about#sus-content">Sustainability</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="btn btn-contact" href="mailto:info@nmpfilms.com">Contact</a></li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</div>