<div class="container-fluid" id="quadrants">
    <div class="row">
        <div class="col-sm-12">
        <p class="display-4 text-center">Studios</p>
        </div>
    </div>
    <div class="quadrant-container container">
        <div class="quad" id="quad-one">
            <div class="quad-content">
                <a href="#">Studio A</a>
            </div>
        </div>
        <div class="quad" id="quad-two">
            <div class="quad-content">
                <a href="#">Studio B</a>
            </div>
        </div>
        <div class="quad" id="quad-three">
            <div class="quad-content">
                <a href="#">Rooftop</a>
            </div>
        </div>
        <div class="quad" id="quad-four">
            <div class="quad-content">
                <a href="#">Studio D</a>
            </div>
        </div>
        <div class="quad" id="quad-five">
            <div class="quad-content">
                <a href="#">Studio E</a>

            </div>
        </div>
    </div>
</div>