   <!-- STUDIO DETAILS -->
   <div class="row studios-row" id="studio-a">
       <!-- Studio A -->
       <div class="container py-2">
           <div class="row py-2">
               <div class="col-sm-12">
                   <h1 class="display-4 py-2 text-gold">Studio A</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12 col-md-6 card-col border-red">
                   <div class="card-col-content bg-light">
                       <p class="h3 text-center text-red">Specs</p>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item"> 20′ x 30′ sound stage</li>
                           <li class="list-group-item">18′ ceiling (14′ to grid)</li>
                           <li class="list-group-item">2-wall cyclorama</li>
                           <li class="list-group-item">Elevated control room</li>
                           <li class="list-group-item">200 Amps of distributed power</li>
                           <li class="list-group-item">Green room</li>
                           <li class="list-group-item">Hair and makeup room</li>
                           <li class="list-group-item">Kitchen/dining room</li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-12 col-md-6 studio-img-col">
                   <img src="/images/studios/Studio-A.png" class="img-fluid" alt="">
                   <div class="">
                       <a href="/studios/studio-a" class="btn btn-lg btn-red">View Details</a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Studio B -->
       <div class="container py-2" id="studio-b">
           <div class="row py-2">
               <div class="col-sm-12">
                   <h1 class="display-4 py-2 text-gold">Studio B</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12 col-md-6 studio-img-col">
                   <img src="/images/studios/Studio-B.png" class="img-fluid" alt="">
                   <a href="#" class="btn btn-lg btn-red">View Details</a>
               </div>
               <div class="col-sm-12 col-md-6 card-col">
                   <div class="card-col-content bg-light">
                       <p class="h3 text-center">Specs</p>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item">Spec details here #1</li>
                           <li class="list-group-item">Spec details here #2</li>
                           <li class="list-group-item">Spec details here #3</li>
                           <li class="list-group-item">Spec details here #4</li>
                           <li class="list-group-item">Spec details here #5</li>
                           <li class="list-group-item">Spec details here #6</li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>

       <!-- Rooftop Studio -->
       <div class="container py-2" id="studio-rooftop">
           <div class="row py-2">
               <div class="col-sm-12">
                   <h1 class="display-4 py-2 text-gold"> Rooftop Studio</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12 col-md-6 card-col">
                   <div class="card-col-content bg-light">
                       <p class="h3 text-center">Specs</p>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item">Spec details here #1</li>
                           <li class="list-group-item">Spec details here #2</li>
                           <li class="list-group-item">Spec details here #3</li>
                           <li class="list-group-item">Spec details here #4</li>
                           <li class="list-group-item">Spec details here #5</li>
                           <li class="list-group-item">Spec details here #6</li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-12 col-md-6 studio-img-col">
                   <img src="/images/studios/Rooftop-studio.jpg" class="img-fluid" alt="">
                   <div class="mt-4">
                       <a href="#" class="btn btn-lg btn-red">View Details</a>
                   </div>
               </div>
           </div>
       </div>

       <!-- Studio D -->
       <div class="container py-2" id="studio-d">
           <div class="row py-2">
               <div class="col-sm-12">
                   <h1 class="display-4 py-2 text-gold">Studio D</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12 col-md-6 studio-img-col">
                   <img src="/images/studios/Studio-A.png" class="img-fluid" alt="">
                   <a href="#" class="btn btn-lg btn-red">View Details</a>
               </div>
               <div class="col-sm-12 col-md-6 card-col">
                   <div class="card-col-content bg-light">
                       <p class="h3 text-center">Specs</p>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item">Spec details here #1</li>
                           <li class="list-group-item">Spec details here #2</li>
                           <li class="list-group-item">Spec details here #3</li>
                           <li class="list-group-item">Spec details here #4</li>
                           <li class="list-group-item">Spec details here #5</li>
                           <li class="list-group-item">Spec details here #6</li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>


       <!-- Studio E -->
       <div class="container py-2" id="studio-e">
           <div class="row py-2">
               <div class="col-sm-12">
                   <h1 class="display-4 py-2 text-gold">Studio E</h1>
               </div>
           </div>
           <div class="row pb-5">
               <div class="col-sm-12 col-md-6 card-col">
                   <div class="card-col-content bg-light">
                       <p class="h3 text-center">Specs</p>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item">Spec details here #1</li>
                           <li class="list-group-item">Spec details here #2</li>
                           <li class="list-group-item">Spec details here #3</li>
                           <li class="list-group-item">Spec details here #4</li>
                           <li class="list-group-item">Spec details here #5</li>
                           <li class="list-group-item">Spec details here #6</li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-12 col-md-6 studio-img-col">
                   <img src="/images/studios/Studio-B.png" class="img-fluid" alt="">
                   <a href="#" class="btn btn-lg btn-red">View Details</a>
               </div>
           </div>
       </div>


   </div>