
<!-- header section -->
<div class="row services-page-header">
    <div class=" margin-header">
        <div class="services-page-header-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="shadow" data-aos="zoom-in-right">
                            <p class="display-4 m-0 text-white">Full Service Production</p>
                            <ul class="list-inline m-0 hide-mobile">
                                <li class="list-inline-item">Production &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Post &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Broadcast</li>
                            </ul>

                            <ul class="list-inline m-0 show-mobile-only">
                                <li class="list-inline-item">Production &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Post &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Broadcast</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>