{% extends '_wrapper.twig' %}
{% block main %}
{% include('services/header') %}
{% include('services/service-boxes') %}

{% include('services/services') %}

    <div class="container-fluid" id="contactCTA" >
        <div class="row p-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="display-4 text-center" data-aos="zoom-in">Ready to start your project?</p>
                        <div class="text-center mt-4">
                            <a href="#" class="btn btn-red btn-lg">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}
