<div class="container-fluid py-5" id="servicesTwo">

    <!-- Studios -->
    <!-- <div class="container service-container" id="studios-container"> -->
    <!-- <div class=" service-container" id="studios-container">
        <div class="row" style="background-color: black !important;">
            <div class="col-sm-12 col-md-5">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title" style="color:#c5a173;">WHAT WE OFFER</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Interviews &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Greenscreen &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">White Cyc</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 p-0">
                <div class="service-block" id="service-block-studio">
                    <div class="service-block-title">
                        <h1>Studios</h1>
                    </div>
                </div>
            </div>
        </div>      
        <div class="row pt-5">
            <div class="service-block col-sm-12 col-md-3 pt-2 pb-2" style="height: 310px !important;">
                <h5 class="text-center">Sound Stage Rental</h5>
                <span class="br-gradient-span"></span>
                <p>Our studios are available for daily rentals with a la carte support. Each has a green room with a
                    studio feed and a makeup station. We can supplement your production however you like, from
                    delectable catering to expendables to grip, lighting and crew.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-2 pb-2" style="height: 310px !important;">
                <h5 class="text-center">Live Broadcast</h5>
                <span class="br-gradient-span"></span>
                <p>Satellite media tours, live shots, news hits, webcasts and press junkets are our specialty. We have
                    two outbound feeds for satellite uplink and the technical expertise to handle your single or
                    multicam live production.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-2 pb-2" style="height: 310px !important;">
                <h5 class="text-center">Gear and Crew</h5>
                <span class="br-gradient-span"></span>
                <p>We offer a full complement of grip and lighting equipment as well as crewing support for any
                    position.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 service-square pt-2 pb-2" style="height: 310px !important;">
                <h5 class="text-center">Sets And Props</h5>
                <span class="br-gradient-span"></span>
                <p>We have an on-site shop for custom set building as well as an extensive catalog of existing sets and
                    props. On top of that, consider our entire 10,000 sq. ft. facility as a working prop house.</p>
            </div>
        </div>
          <!-- Square images -->
          <!-- <div class="row pb-5 pt-2">
            <div class="col-sm-12 col-md-3 text-center p-1" style="height: 100px;">
                <img src="/images/small-square/square-1.png" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center p-1" style="height: 100px;">
                <img src="/images/small-square/square-2.png" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center p-1" style="height: 100px;">
                <img src="/images/small-square/square-3.jpg" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center p-1" style="height: 100px;">
                <img src="/images/small-square/square-4.jpg" alt="" class="img-fluid" >
            </div>
        </div> 
    </div> -->

    <!-- PRODUCTION -->
    <!-- <div class="container service-container pt-5" id="production-container"> -->
    <div class="service-container pt-5" id="production-container">
        <div class="row">
            <div class="col-sm-12 col-md-8 p-0">
                <div class="service-block" id="service-block-production">
                    <div class="service-block-title">
                        <!-- <p class="display-4">Production</p> -->
                        <h1>Production</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" style="background-color: #3b3838;">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title" style="color:#c5a173">WHAT WE DO</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">Episodic &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Commercials &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Live Events &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">PR &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Corporate &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Educational &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Governmental</li>
                        </ul>
                </div>
            </div>
        </div>        
        <div class="row pt-5">
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Develop it</h5>
                <span class="br-gradient-span"></span>
                <p>You have a story to tell and an audience to reach – let’s hatch a plan. We’ll start with lots of
                    questions and once we know what you really need, we’ll build a production that nails it.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Budget it</h5>
                <span class="br-gradient-span"></span>
                <p>Production success comes from great planning, and budget often drives that plan. We’ll explore every
                    option available to give you the most bang for your buck.
                </p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Shoot it</h5>
                <span class="br-gradient-span"></span>
                <p>From mountain tops, to red carpets, to high pressure board rooms, we’ll handle the logistics and
                    artistry. This is where your story comes to life!
                </p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Deliver it</h5>
                <span class="br-gradient-span"></span>
                <p>The digital production landscape changes every day. We are up to date with this week’s flavor and
                    will acquire and deliver to any platform in the best way possible.
                </p>
            </div>
        </div>
        <!-- Square images -->
        <div class="row pb-5" style="margin: -20px;">
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square-2/square-2.jpg" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square/square-3.jpg" alt="" class="img-fluid" >
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square/square-4.jpg" alt="" class="img-fluid" >
            </div>
        </div>
    </div>
 <br><br>



    <!-- POST -->
    <!-- <div class="container service-container" id="post-container"> -->
    <div class="service-container" id="post-container">
        <div class="row"
            style=" background: linear-gradient(90deg, rgba(207, 0, 21, 1) 50%, rgba(0, 0, 0, 1) 100%);        ">
            <div class="col-sm-12 col-md-6">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title">HOW WE WORK</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">Video Editing &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Color Correction &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Motion Graphics &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Voice Over Recording &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Sound Design &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Audio Mixing</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="service-block" id="service-block-post">
                    <div class="service-block-title">
                        <!-- <p class="display-4">Post</p> -->
                        <h1 style="text-transform: capitalize !important;">Post</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="service-block col-sm-12 col-md-3 py-3">
                <h5 class="text-center">Talent</h5>
                <span class="br-gradient-span"></span>
                <p>Editing is a craft with many disciplines, and matching the right talent to the job is an art form.
                    With exceptional in-house editors and access to the top talent in the industry, we do just that.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 py-3">
                <h5 class="text-center">Technology</h5>
                <span class="br-gradient-span"></span>
                <p>Our post suites are equipped with the best equipment in the biz. We use Avid, Premiere and ProTools,
                    all running on monster machines and connected to an Isis media server.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 py-3">
                <h5 class="text-center">Environment</h5>
                <span class="br-gradient-span"></span>
                <p>The creative process can sometimes be painful. Your surroundings shouldn’t be. Editors are people too
                    and we believe edit suites should have windows!</p>
            </div>
            <div class="service-block col-sm-12 col-md-3 py-3">
                <h5 class="text-center">Experience</h5>
                <span class="br-gradient-span"></span>
                <p>When it comes to tight deadlines and highly technical delivery specs there is no substitute for
                    experience. We help you keep calm when the pressure is on and bring that baby home (with all ten
                    fingers and toes)!</p>
            </div>
        </div>
    </div>




    <!-- Broadcasting -->
    <!-- <div class="container service-container" id="Broadcasting-container"> -->
    <div class="service-container" id="Broadcasting-container">
        <div class="row" style=" background: linear-gradient(90deg,  rgba(0, 0, 0, 1) 50%, rgba(207, 0, 21, 1) 100%);">
            <div class="col-sm-12 col-md-6 p-0">
                <div class="service-block" id="service-block-broadcasting">
                    <div class="service-block-title">
                        <!-- <p class="display-4">Broadcasting</p> -->
                        <h1>Broadcasting</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title">WHAT WE OFFER</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Interviews &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Greenscreen &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">White Cyc</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Sound Stage Rental</h5>
                <span class="br-gradient-span"></span>
                <p>Our studios are available for daily rentals with a la carte support. Each has a green room with a
                    studio feed and a makeup station. We can supplement your production however you like, from
                    delectable catering to expendables to grip, lighting and crew.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Live Broadcast</h5>
                <span class="br-gradient-span"></span>
                <p>Satellite media tours, live shots, news hits, webcasts and press junkets are our specialty. We have
                    two outbound feeds for satellite uplink and the technical expertise to handle your single or
                    multicam live production.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Gear and Crew</h5>
                <span class="br-gradient-span"></span>
                <p>We offer a full complement of grip and lighting equipment as well as crewing support for any
                    position.</p>
            </div>
            <div class="service-block col-sm-12 col-md-3">
                <h5 class="text-center">Sets And Props</h5>
                <span class="br-gradient-span"></span>
                <p>We have an on-site shop for custom set building as well as an extensive catalog of existing sets and
                    props. On top of that, consider our entire 10,000 sq. ft. facility as a working prop house.</p>
            </div>
        </div>
    </div>
</div>