<div class="container-fluid" id="service-boxes">
    <div class="row pb-5">
        <div class="col-sm-12">
            <p class="display-4 text-center">NMP Offers</p>
            <p class="text-center lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quibusdam et quas odit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 service-boxes-col">
            <a href="#production-container" class="img-btn-container" id="img-btn-container-1">
                <div class="darken-container">
                    <p>Production</p>
                    <p class="service-box-text">Episodic | Commercials | Live Events | PR | Corporate | Educational | Governmental</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 service-boxes-col">
            <a href="#post-container" class="img-btn-container" id="img-btn-container-2">
                <div class="darken-container">
                    <p>Post</p>
                    <p class="service-box-text">Episodic | Commercials | Live Events | PR | Corporate | Educational | Governmental</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 service-boxes-col">
            <a href="#broadcasting-container" class="img-btn-container" id="img-btn-container-3">
                <div class="darken-container">
                    <p>Broadcasting</p>
                    <p class="service-box-text">Episodic | Commercials | Live Events | PR | Corporate | Educational | Governmental</p>
                </div>
            </a>
        </div>
    </div>
</div>