{# <div class="container-fluid p-0" id="servicesTwo"> #}
<div class="container-fluid p-0" id="services">

    <!-- PRODUCTION -->
    <div class="service-container" id="production-container">
        <div class="row ">
            <div class="col-sm-12 col-lg-8 p-0">
                <div class="service-block" id="service-block-production" data-aos="flip-left">
                    <div class="service-block-title">
                        <h1>Production</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 grey-block-col">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title" style="color:#eee">What We Do</h4>
                        <p style="color: #fff; font-size: 1.2em">“designing and implementing
                        production strategies that work”</p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Develop it</h5>
                <span class="br-gradient-span"></span>
                <p>You want to tell a memorable story that resonates with your audience. Let us hatch a plan - you have
                    a story to tell and an audience to reach. We will start with lots of questions and once we know what
                    you need, we will build a product that nails your vision.
                </p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 bg-white pt-3">
                <h5 class="text-center">Budget it</h5>
                <span class="br-gradient-span"></span>
                <p>Whatever the budget, a great production comes from thoughtful planning. We will explore every option
                    available to ensure that the finished product is of the highest quality and give the client maximum
                    “bang for the buck”.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-2.jpg" alt="" class="img-fluid">

            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Shoot it</h5>
                <span class="br-gradient-span"></span>
                <p>From mountain tops to red carpets, to high-pressure board rooms, we will handle the logistics and
                    artistry. This is where we bring your story to life! </p>
                <img class="img-inner img-fluid" src="/images/small-square/square-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 bg-white pt-3">
                <h5 class="text-center">Deliver it</h5>
                <span class="br-gradient-span"></span>
                <p>Digital production technologies are constantly evolving. We have the state-of-the-art tools to
                    deliver your vision on time, on budget, and on any platform. </p>
                <img class="img-inner img-fluid" src="/images/small-square/square-4.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>


    <!-- POST -->
    <div class="service-container" id="post-container">
        <div class="row">
            <div class="col-sm-12 col-md-8 p-0">
                <div class="service-block" id="service-block-post" data-aos="flip-right">
                    <div class="service-block-title">
                        <!-- <p class="display-4">Production</p> -->
                        <h1>Post</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 grey-block-col" style="background-color: #666666;">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title" style="color:#fff">How We Work</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">"it's a collaborative process with your needs in mind”</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Talent</h5>
                <span class="br-gradient-span"></span>
                <p>Editing is a craft with many disciplines, and matching the right talent to your story is an art form.
                    With exceptional in-house editors and access to the top talent in the industry, we will achieve your
                    vision.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3 bg-white">
                <h5 class="text-center">Technology</h5>
                <span class="br-gradient-span"></span>
                <p> Our post suites are equipped with state-of-the-art equipment. We are experts in all aspects of the
                    production process. From editing, coloring, sound design, audio matching to motion graphics. It's
                    hard work but we make it look easy and will make your vision a reality</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Environment</h5>
                <span class="br-gradient-span"></span>
                <p>The creative process can sometimes be tough -- your surroundings shouldn't be. Editors are people too
                    and we believe edit suites should have windows and work in surroundings that encourage creativity -
                    come visit! </p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3 bg-white">
                <h5 class="text-center">Experience </h5>
                <span class="br-gradient-span"></span>
                <p>When it comes to tight deadlines and highly technical delivery specs there is no substitute for
                    experience. With decades of hands-on knowledge and the patience and wisdom that comes with it, we
                    help you keep calm when the pressure is on and bring that baby home (with all ten fingers and toes)!
                </p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Broadcasting -->
    <div class="service-container" id="broadcasting-container">
        <div class="row ">
            <div class="col-sm-12 col-md-8 p-0">
                <div class="service-block" id="service-block-broadcasting" data-aos="flip-right">
                    <div class="service-block-title">
                        <h1>Broadcasting</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 grey-block-col">
                <div class="service-block-list">
                    <p class="display-4 service-block-second-title">What We Offer</h4>
{#                    <ul class="list-inline">#}
{#                        <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>#}
{#                        <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>#}
{#                        <li class="list-inline-item">Interviews &nbsp;&nbsp;|</li>#}
{#                        <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>#}
{#                        <li class="list-inline-item">Live Shots &nbsp;&nbsp;</li>#}
{#                    </ul>#}
                    <p style="color: #fff; font-size: 1.2em">“The tools you you need to
                        make your broadcast a success”</p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Sound Stage Rental</h5>
                <span class="br-gradient-span"></span>
                <p>We have multiple studios to choose from, and all are available for daily rental. As our clients have
                    come to expect we have all the technical support they need. Every studio has a green room with
                    studio feed and makeup facilities. We can supplement your production however you like or just get
                    out of the way and let you run the show. But if you need our expertise we will be there.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3 bg-white">
                <h5 class="text-center">Live Broadcasting</h5>
                <span class="br-gradient-span"></span>
                <p>Satellite media tours, live shots, news hits, webcasts and press junkets are our specialty. We have
                    two outbound feeds for satellite uplink and the technical expertise to handle your single or
                    multicam live production.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3">
                <h5 class="text-center">Remote Broadcasting</h5>
                <span class="br-gradient-span"></span>
                <p>Whether your project requires broadcasting remotely or setting up a virtual event. Our team has the
                    technical know-how to make everything happen without a hitch.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="service-block col-sm-12 col-md-3 pt-3 bg-white">
                <h5 class="text-center">Sets And Props</h5>
                <span class="br-gradient-span"></span>
                <p>We have an on-site woodworking shop for custom set builds, as well as a wide-ranging catalog of
                    existing sets and props. You can consider our entire 10,000 sq. ft. facility as a working prop
                    house.</p>
                <img class="img-inner img-fluid" src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <!-- Square images -->
        <!-- <div class="row pb-5">
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square-2/square-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square-2/square-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square/square-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="/images/small-square/square-4.jpg" alt="" class="img-fluid">
            </div>
        </div> -->
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-5">
                <p class="lead">We pride ourselves on tackling tough problems and making stories come alive. True growth
                    happens just outside the comfort zone. We welcome challenges and invite you to see what Next
                    Millennium can do for you. Give us a call, let's discuss your production, your story, your vision -
                    we know you will be impressed by what we can offer.
                </p>
            </div>
        </div>
    </div>

</div>