#originalContentContainer{
    padding: 0 3em;    
    .contentDisplay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .contentBox{
            //width: 24%;
            margin: 5px;
            transition: all .3s ease-in-out;
        }
        .contentBox:hover{
            transform: scale(1.05);
        }

    }
}

@media(max-width:768px) {
    #originalContentContainer{
        .contentDisplay{
            .contentBox{
                width: 45%;
            }
            .contentBox:hover{}
        }
    }    
}
