<div id="originalContentContainer">
    <div class="container py-5">
        <div class="row">
            {# <div class="contentDisplay" data-aos="fade-up" data-aos-duration="1500"> #}
            <div class="col-12 col-md-4 p-2">
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/6EHl4_Xr5-c"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 p-2">
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/KeCLDaqX5v8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 p-2">
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/NuGRikMPu4o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            {# </div> #}
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-2">
                {# <div class="contentDisplay" data-aos="fade-up" data-aos-duration="1500"> #}
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://player.vimeo.com/video/379807369?color=ffffff"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 p-2">
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://player.vimeo.com/video/454868764"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 p-2">
                <a href="#" class="contentBox">
                    <div class="ratio ratio-16x9">
                    <iframe src="https://player.vimeo.com/video/375792166?color=ffffff"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>