{% extends '_wrapper.twig' %}
{% block main %}

    <div class="container-fluid p-0" id="work">
        <div class="row work-header">
            <!-- <div class="col-sm-12 p-0"> -->
            <div class="p-0">
                <div class="work-page-header-content">
                    <div class="container">
                        <div class="shadow" data-aos="fade-right">
                            <p class="display-4 m-0 text-white">Our Work</p>
                            <ul class="list-inline m-0 hide-mobile">
                                <li class="list-inline-item">Education &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Branding &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Marketing</li>
                            </ul>
                            <ul class="list-inline m-0 hide-mobile">
                                <li class="list-inline-item">Original Content &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Greenscreen</li>
                            </ul>
                            <ul class="list-inline m-0 show-mobile-only">
                                <li class="list-inline-item">Education &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Branding &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Marketing</li>
                                <li class="list-inline-item">Original Content &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                                <li class="list-inline-item">Greenscreen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 col-md-8 col-xl-6 mx-auto">
                <p class="text-center display-4 text-red">Our Work</p>
                <p class="text-center lead">
                    We originate effective campaigns for our clients in advertising, training, education, and public
                    service on Television and digital platforms.
                </p>

            </div>
        </div>
        {% include('work/videos') %}
        <div class="row" id="originalContent">
            <div class="col-sm-12 py-5">
                <p class="display-4 text-center">Fresh Work</p>
            </div>
        </div>
        <div class="row">
            {% include('work/fresh-work') %}
        </div>

    </div>


{% endblock %}