<div class="container">
    <div class="row video-row">
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/Uh8f5SUcgXE" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/vV7CY1u8rsE" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/wLNc6hD21Mk" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/WpVZe1NyDbM" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/Y4PJ0fBVUB8" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/y2wfYPHwgR0" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>