<div class="row video-row">
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div class="col-sm-12 p-0">
                <div class="vid-display" >
                    <div class="vidbox">
                        <!-- <h4>Video Title</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/Uh8f5SUcgXE" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <!-- <h4>LeNoble Lumber</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/vV7CY1u8rsE" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <!-- <h4>Melba's</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/wLNc6hD21Mk" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <!-- <h4>Julie Menin</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/WpVZe1NyDbM" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <!-- <h4>Bridge Cleaners</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/Y4PJ0fBVUB8" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <!-- <h4>Avid Waste</h4> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/y2wfYPHwgR0" frameborder="0"></iframe>
                        </div>
                    </div>
                    <!-- <div class="vidbox">
                        <h4>Jamali Garden</h4>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/9bY3kA4fdug" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="vidbox">
                        <h4>Avid Waste</h4>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/y2wfYPHwgR0" frameborder="0"></iframe>
                        </div>
                    </div> -->
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>