<div class="container-fluid p-0" id="studio">
    <!-- HEADER -->
    <div class="row studio-header">
        <!-- <div class="col-sm-12 p-0">-->
        <div class="margin-header">
            <div class="studio__title-container">
                <div class="shadow" data-aos="fade-right">
                    <p class="display-4 m-0">Studios</p>
                    <ul class="list-inline m-0 hide-mobile">
                        <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Interviews</li>
                    </ul>
                    <ul class="list-inline m-0 hide-mobile">
                        <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Greenscreen &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">White Cyc</li>
                    </ul>
                    {# MOBILE #}
                    <ul class="list-inline m-0 show-mobile-only">
                        <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Interviews</li>
                        <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">Greenscreen &nbsp;&nbsp;|</li>
                        <li class="list-inline-item">White Cyc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0" id="studio">
        <!-- Studio Circles -->
        <div class="row studio__cirles-row">
            <div class="col-sm-12">
                <p class="display-4 text-center py-5">5 Studios, Infinite Creativity</p>
            </div>
            <div class="studio__circle">
                <div class="studio_circle-bg" id="studio__cicle-a"></div>
                <a href="#studio-a">
                    <p>Studio A</p>
                </a>
            </div>
            <div class="studio__circle">
                <div class="studio_circle-bg" id="studio__cicle-b"></div>
                <a href="#studio-b">
                    <p>Studio B</p>
                </a>
            </div>
            <div class="studio__circle">
                <div class="studio_circle-bg" id="studio__cicle-rooftoop"></div>
                <a href="#studio-rooftop">
                    <p>Rooftop</p>
                </a>
            </div>
            <div class="studio__circle">
                <div class="studio_circle-bg" id="studio__cicle-d"></div>
                <a href="#studio-d">
                    <p>Eastside Studio D</p>
                </a>
            </div>
            <div class="studio__circle">
                <div class="studio_circle-bg" id="studio__cicle-e"></div>
                <a href="#studio-e">
                    <p>Eastside Studio E</p>
                </a>
            </div>
        </div>

        <!-- MWBE STRIPE -->
        <div class="row" id="mwbaStripe">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-12"> -->
                    <div class="col-sm-10 mx-auto">
                        <div class="text-center">
                            {# <p class="lead">Two shooting studios, a working kitchen set and a rooftop located on Howard Street in #}
                            {# Soho, NYC. If you like good people, sun light and exceptional client service you will #}
                            {# love our facility. Stop by and check us out!</p> #}
{#                            <p class="lead">Five shooting studios two at our location on Howard Street in Soho another#}
{#                                two in our brand new facility on Houston Street ( Eastside Stages). Among our many#}
{#                                offerings are a working kitchen set, a rooftop location with city views, and as always#}
{#                                our exceptional client services. Contact us to schedule a tour of any of our facilities#}
{#                                at your convenience.</p>#}
                            <p class="lead">Two state of the art facilities - one in Soho & one on the LES with a
                                combined five shooting studios. Whether you need a functioning kitchen set, a loft look
                                with exposed brick, or a custom branded set we have what you’re looking for. And if we
                                don’t, we’ll build it. Contact us to schedule a tour, we’d love to show you around</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STUDIO DETAILS -->
        <div class="row studios-row">
            <!-- Studio A -->
            <div class="container-fluid studio-container" id="studio-a">
                <div class="row p-0">
                    <div class="col-sm-12">
                        <h1 class="display-4">Studio A Summary</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 card-col border-red">
                        <div class="card-col-content ">
                            <p class="h3 text-center text-red">Specs</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> 20′ x 30′ sound stage</li>
                                <li class="list-group-item">18′ ceiling (14′ to grid)</li>
                                <li class="list-group-item">2-wall cyclorama</li>
                                <li class="list-group-item">Elevated control room</li>
                                <li class="list-group-item">200 Amps of distributed power</li>
                                <li class="list-group-item">Green room</li>
                                <li class="list-group-item">Hair and makeup room</li>
                                <li class="list-group-item">Kitchen/dining room</li>
                            </ul>
                        </div>
                        <div class="text-center" style="width: 75%; margin: 2em auto;">
                            <a href="/studios/studio" class="btn btn-lg"> More Info</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 studio-img-col">
                        <img src="/images/studios/Studio-A.png" class="img-fluid" alt="" data-aos="zoom-in-left">
{#                        <div class="four-images">#}
{#                            <h1 class="text-center">Our Space</h1>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg"#}
{#                               data-lightbox="studio-a-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg"#}
{#                               data-lightbox="studio-a-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg"#}
{#                               data-lightbox="studio-a-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg"#}
{#                               data-lightbox="studio-a-images" data-title="My caption"> <img#}
{#                                        src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>

            <!-- Studio B -->
            <div class="container-fluid studio-container bg-light" id="studio-b">
                <div class="row py-2">
                    <div class="col-sm-12">
                        <h1 class="display-4">Studio B Summary</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-7 studio-img-col">
                        <img src="/images/studios/Studio-B.png" class="img-fluid" alt="" data-aos="zoom-in-right">
{#                        <div class="four-images">#}
{#                            <h1 class="text-center">Our Space</h1>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg"#}
{#                               data-lightbox="studio-b-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg"#}
{#                               data-lightbox="studio-b-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg"#}
{#                               data-lightbox="studio-b-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg"#}
{#                               data-lightbox="studio-b-images" data-title="My caption"> <img#}
{#                                        src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                    <div class="col-sm-12 col-lg-5 card-col">
                        <div class="card-col-content card-col-content-right ">
                            <p class="h3 text-center text-red">Specs</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">8' x 15' Insert Studio</li>
                                <li class="list-group-item">Sound proof & climate controlled</li>
                                <li class="list-group-item">Control room</li>
                                <li class="list-group-item">Satellite uplink</li>
                                <li class="list-group-item">Client lounge</li>
                                <li class="list-group-item">Makeup station</li>
                            </ul>
                        </div>
                        <div class="text-center" style="width: 75%; margin: 2em auto;">
                            <a href="/studios/studio-b" class="btn btn-lg "> More Info</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rooftop Studio -->
            <div class="container-fluid studio-container" id="studio-rooftop">
                <div class="row py-2">
                    <div class="col-sm-12">
                        <h1 class="display-4"> Rooftop Studio Summary</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 card-col">
                        <div class="card-col-content ">
                            <p class="h3 text-center text-red">Specs</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">25' x 50' deck</li>
                                <li class="list-group-item">Soho views</li>
                                <li class="list-group-item">Elevator Access</li>
                                <li class="list-group-item">Control Room tie in</li>
                                <li class="list-group-item">Satellite uplink/li>
                                <li class="list-group-item">Tenting options</li>
                            </ul>
                        </div>
                        <div class="text-center" style="width: 75%; margin: 2em auto;">
                            <a href="/studios/rooftop" class="btn btn-lg "> More Info</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 studio-img-col">
                        <img src="/images/studios/Rooftop-studio.jpg" class="img-fluid" alt="" data-aos="zoom-in-left">
{#                        <div class="four-images">#}
{#                            <h1 class="text-center">Our Space</h1>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg"#}
{#                               data-lightbox="rooftop-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg"#}
{#                               data-lightbox="rooftop-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg"#}
{#                               data-lightbox="rooftop-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg"#}
{#                               data-lightbox="rooftop-images" data-title="My caption"> <img#}
{#                                        src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>

            <!-- Studio D -->
            <div class="container-fluid studio-container bg-light" id="studio-d">
                <div class="row py-2">
                    <div class="col-sm-12">
                        <h1 class="display-4">Eastside Stages Studio 1 Summary</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-7 studio-img-col">
                        <img src="/images/studios/Studio-A.png" class="img-fluid" alt="" data-aos="zoom-in-right">
{#                        <div class="four-images">#}
{#                            <h1 class="text-center">Our Space</h1>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg"#}
{#                               data-lightbox="studio-d-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg"#}
{#                               data-lightbox="studio-d-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg"#}
{#                               data-lightbox="studio-d-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg"#}
{#                               data-lightbox="studio-d-images" data-title="My caption"> <img#}
{#                                        src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                    <div class="col-sm-12 col-lg-5 card-col">
                        <div class="card-col-content card-col-content-right ">
                            <p class="h3 text-center text-red">Specs</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">30’ x 40’ Ground Floor</li>
                                <li class="list-group-item">30’ x 50’ Mezzanine Level</li>
                                <li class="list-group-item">30’ Ceiling</li>
                                <li class="list-group-item">Motorized Grid</li>
                                <li class="list-group-item">200A 3 Phase Power</li>
                            </ul>
                        </div>
                        <div class="text-center" style="width: 75%; margin: 2em auto;">
                            <a href="/studios/studio-d" class="btn btn-lg ">More Info</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Studio E -->
            <div class="container-fluid studio-container" id="studio-e">
                <div class="row py-2">
                    <div class="col-sm-12">
                        <h1 class="display-4">Eastside Stages Studio 2 Summary</h1>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-sm-12 col-lg-5 card-col">
                        <div class="card-col-content ">
                            <p class="h3 text-center text-red">Specs</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">25’ x 25’</li>
                                <li class="list-group-item">14’ Ceiling</li>
                                <li class="list-group-item">Fixed Grid</li>
                                <li class="list-group-item">100A 3 Phase Power</li>
                            </ul>
                        </div>
                        <div class="text-center" style="width: 75%; margin: 2em auto;">
                            <a href="/studios/studio-e" class="btn btn-lg "> More Info</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 studio-img-col">
                        <img src="/images/studios/Studio-B.png" class="img-fluid" alt="" data-aos="zoom-in-left">
{#                        <div class="four-images">#}
{#                            <h1 class="text-center">Our Space</h1>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg"#}
{#                               data-lightbox="studio-e-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg"#}
{#                               data-lightbox="studio-e-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg"#}
{#                               data-lightbox="studio-e-images" data-title="My caption">#}
{#                                <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                            <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg"#}
{#                               data-lightbox="studio-e-images" data-title="My caption"> <img#}
{#                                        src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>