<div class="container-fluid" id="studioCTA">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="display-4 text-center aos-init aos-animate">Ready to rent a studio?</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-lg">Book Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>