{% include('partials/header') %}
{% include('partials/nav') %}

<div class="container-fluid studio-page" id="studio-page-a">
    <!-- header section -->
    <div class="row studio-page-header">
        <!-- <div class="col-sm-12 p-0"> -->
        <div class="p-0">
            <div class="studio-page-header-content">
                <div class="container p-0">
                    <div class="shadow">
                        <p class="display-4 m-0 text-white">Studio A</p>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">Satellite Media Tours &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Webcasts &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Interviews</li>
                        </ul>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">News Hits &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Live Shots &nbsp;&nbsp;|</li>
                            <li class="list-inline-item">Greenscreen</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row studio-blurb">
        <div class="col-sm-12 col-md-8 mx-auto py-5">
            <p>The largest of our shooting studios at 31 Howard Street, this studio can accommodate everything from a
                full working kitchen or mock television station to a day at the beach all with the comfort and
                convenience of a full studio with separate Hair and Makeup. </p>
        </div>
    </div>


    <!-- Studio Details -->
    <div class="row studio-details">
        <!-- <div class="container">
            <div class="row py-5"> -->
        <div class="col-sm-12 col-md-8 col-lg-7 p-0">
            <img class="img-fluid" src="/images/studios/Studio-A.png" alt="">
            {# <div class="four-images"> #}
            {# <h1 class=mb-1>Our Space</h1> #}
            {# <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-1.jpg" #}
            {# data-lightbox="four-images" data-title="My caption"> #}
            {# <img src="/images/studios/studio-a/set-photos/set-1.jpg" alt="" class="img-fluid"> #}
            {# </a> #}
            {# <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-2.jpg" #}
            {# data-lightbox="four-images" data-title="My caption"> #}
            {# <img src="/images/studios/studio-a/set-photos/set-2.jpg" alt="" class="img-fluid"> #}
            {# </a> #}
            {# <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/set-3.jpg" #}
            {# data-lightbox="four-images" data-title="My caption"> #}
            {# <img src="/images/studios/studio-a/set-photos/set-3.jpg" alt="" class="img-fluid"> #}
            {# </a> #}
            {# <a class="four-images-img-link" href="/images/studios/studio-a/set-photos/studio-4.jpg" #}
            {# data-lightbox="four-images" data-title="My caption"> <img #}
            {# src="/images/studios/studio-a/set-photos/studio-4.jpg" alt="" class="img-fluid"> #}
            {# </a> #}
            {# </div> #}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 offset-lg-1 p-0">
            {# <p class="text-red h3 text-center">Specs</p> #}
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 20′ x 30′ sound stage</li>
                <li class="list-group-item">18′ ceiling (14′ to grid)</li>
                <li class="list-group-item">2-wall cyclorama</li>
                <li class="list-group-item">Elevated control room</li>
                <li class="list-group-item">200 Amps of distributed power</li>
                <li class="list-group-item">Green room</li>
                {# <li class="list-group-item">Hair and makeup room</li> #}
                {# <li class="list-group-item">Kitchen/dining room</li> #}
            </ul>
        </div>

        <!-- </div>
    </div> -->
    </div>

    <!-- SET GALLERY -->
    <div class="row set-gallery-row py-5">
        <div class="col-sm-12">
            <p class="display-4 text-center">Set Gallery</p>
        </div>
    </div>

    <div class="row" id="gallery-imgs-row" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-sm-12" id="gallery-imgs">
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-1.jpg"
               data-lightbox="image-1" data-title="My caption">
                <img src="/images/studios/studio-a/set-gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-2.jpg"
               data-lightbox="image-1" data-title="My caption">
                <img src="/images/studios/studio-a/set-gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-3.jpeg"
               data-lightbox="image-1" data-title="My caption">
                <img src="/images/studios/studio-a/set-gallery/gallery-3.jpeg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-4.jpeg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-4.jpeg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-5.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-6.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-7.jpeg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-7.jpeg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-8.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-9.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-9.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-10.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-10.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-11.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-11.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-12.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-12.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-13.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-13.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-14.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-14.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-15.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-15.jpg" alt="" class="img-fluid">
            </a>
            <a class="set-gallery-img-link" href="/images/studios/studio-a/set-gallery/gallery-10.jpg"
               data-lightbox="image-1" data-title="My caption"> <img
                        src="/images/studios/studio-a/set-gallery/gallery-10.jpg" alt="" class="img-fluid">
            </a>
        </div>
    </div>

    <!-- CTA -->
    <div class="row studio-cta">
        <div class="col-sm-12 py-5">
            <p class="display-4 text-center">Like this studio?</p>
            <div class="stuido-cta-container text-center">
                <a href="#" class="btn btn-lg">Book Now!</a>
            </div>
        </div>
    </div>

    <!-- Studio Extras -->
    <div class="row studio-extras py-5 bg-light">
        <!-- <div class="container">
            <div class="row"> -->
        <div class="col-sm-12 col-md-4 p-0">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Booking Info</h5>
                    <p class="card-text">We typically reserve this room for a minimum 50 hours. We typically
                        reserve 1 month in advance</p>
                    <p class="card-text">Additonally we can also provide:</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cameras, lights, stage hands</li>
                    <li class="list-group-item">Casting Calls, Teleprompts, scripts</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <p><strong>Studio Manager :</strong> Colin</p>
                    <p><strong>Direct Studio :</strong>212-232-2323</p>
                    <p><strong>Email :</strong> studio-a@nmp.com</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 offset-md-1 p-0">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid quis adipisci placeat
                maxime
                deserunt voluptatibus illum exercitationem modi dicta id, porro rerum consequatur, quos
                similique! Optio
                adipisci ratione aliquid, repellat nesciunt sequi cupiditate.</p>
            <br>

            <div class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.
                </p>
                <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </div>
            </div>
            <br>
            <div class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                    ante.
                </p>
                <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </div>
            </div>
        </div>
        <!-- </div>
    </div> -->
    </div>
    <div class="row studio-page__cirles-row">
        <div class="col-sm-12">
            <p class="display-4 text-center py-5">See our other studios</p>
        </div>
        <div class="studio__circle">
            <div class="studio_circle-bg" id="studio__cicle-a"></div>
            <a href="#studio-a">
                <p>Studio A</p>
            </a>
        </div>
        <div class="studio__circle">
            <div class="studio_circle-bg" id="studio__cicle-b"></div>
            <a href="#studio-b">
                <p>Studio B</p>
            </a>
        </div>
        <div class="studio__circle">
            <div class="studio_circle-bg" id="studio__cicle-rooftoop"></div>
            <a href="#studio-rooftop">
                <p>Rooftop</p>
            </a>
        </div>
        <div class="studio__circle">
            <div class="studio_circle-bg" id="studio__cicle-d"></div>
            <a href="#studio-d">
                <p>Studio D</p>
            </a>
        </div>
        <div class="studio__circle">
            <div class="studio_circle-bg" id="studio__cicle-e"></div>
            <a href="#studio-e">
                <p>Studio E</p>
            </a>
        </div>
    </div>


</div>


{% include('partials/footer') %}
{% include('partials/closure') %}