{% extends '_wrapper.twig' %}
{% block main %}

<div class="container-fluid studio-page" id="studio-page-a">
	<!-- header section -->
	<div class="row studio-page-header">
		<!-- <div class="col-sm-12 p-0"> -->
		<div class="p-0">
			<div class="studio-page-header-content">
				<div class="container p-0">
					<div class="shadow">
						<p class="display-4 m-0 text-white">Eastside Stages Studio E</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row studio-blurb">
		<div class="col-sm-12 col-md-8 mx-auto py-5">
			<p>
				Housed in the Historic Provident Loan Society Bank building this Neoclassical gem has been completely
				gut renovated and boasts a modernized infrastructure. Eastside Stages boasts a high-speed fiber trunk,
				high-efficiency sound dampening HVAC, and triple-glazed acoustical glass fenestrations.
			</p>
		</div>
	</div>


	<!-- Studio Details -->
	<div class="row studio-details">
		<div class="col-sm-12 col-md-8 col-lg-7 p-0">
			<img class="img-fluid" src="/images/studios/Studio-B.png" alt="">
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3 offset-lg-1 p-0">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">25’ x 25’</li>
				<li class="list-group-item">14’ Ceiling</li>
				<li class="list-group-item">Fixed Grid</li>
				<li class="list-group-item">100A 3 Phase Power</li>
			</ul>
		</div>
	</div>

	<!-- SET GALLERY -->
	<div class="row set-gallery-row py-5">
		<div class="col-sm-12">
			<p class="display-4 text-center">Set Gallery</p>
		</div>
	</div>

	<div class="row" id="gallery-imgs-row" data-aos="fade-up" data-aos-duration="1500">
		<div class="col-sm-12" id="gallery-imgs">
			<a class="set-gallery-img-link" href="/images/studios/rooftop/set-gallery/gallery-1.jpeg"
			   data-lightbox="image-1" data-title="My caption">
				<img src="/images/studios/rooftop/set-gallery/gallery-1.jpeg" alt="" class="img-fluid">
			</a>
			<a class="set-gallery-img-link" href="/images/studios/rooftop/set-gallery/gallery-2.jpeg"
			   data-lightbox="image-1" data-title="My caption">
				<img src="/images/studios/rooftop/set-gallery/gallery-2.jpeg" alt="" class="img-fluid">
			</a>
			<a class="set-gallery-img-link" href="/images/studios/rooftop/set-gallery/gallery-3.jpeg"
			   data-lightbox="image-1" data-title="My caption">
				<img src="/images/studios/rooftop/set-gallery/gallery-3.jpeg" alt="" class="img-fluid">
			</a>
			<a class="set-gallery-img-link" href="/images/studios/rooftop/set-gallery/gallery-4.jpeg"
			   data-lightbox="image-1" data-title="My caption"> <img
						src="/images/studios/rooftop/set-gallery/gallery-4.jpeg" alt="" class="img-fluid">
			</a>
		</div>
	</div>

	<!-- CTA -->
	<div class="row studio-cta">
		<div class="col-sm-12 py-5">
			<p class="display-4 text-center">Like this studio?</p>
			<div class="stuido-cta-container text-center">
				<a href="#" class="btn btn-lg">Book Now!</a>
			</div>
		</div>
	</div>

	<!-- Studio Extras -->
	<div class="row studio-extras py-5 bg-light">
		<!-- <div class="container">
			<div class="row"> -->
		<div class="col-sm-12 col-md-4 p-0">
			<div class="card mx-auto">
				<div class="card-body">
					<h5 class="card-title">Booking Info</h5>
					<p class="card-text">We typically reserve this room for a minimum 50 hours. We typically
						reserve 1 month in advance</p>
					<p class="card-text">Additonally we can also provide:</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cameras, lights, stage hands</li>
					<li class="list-group-item">Casting Calls, Teleprompts, scripts</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
				<div class="card-body">
					<p><strong>Studio Manager :</strong> Colin</p>
					<p><strong>Direct Studio :</strong>212-232-2323</p>
					<p><strong>Email :</strong> studio-a@nmp.com</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6 offset-md-1 p-0">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid quis adipisci placeat
				maxime
				deserunt voluptatibus illum exercitationem modi dicta id, porro rerum consequatur, quos
				similique! Optio
				adipisci ratione aliquid, repellat nesciunt sequi cupiditate.</p>
			<br>

			<figure>
				<blockquote class="blockquote">
					<p>A well-known quote, contained in a blockquote element.</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Someone famous in <cite title="Source Title">Source Title</cite>
				</figcaption>
			</figure>

			<figure>
				<blockquote class="blockquote">
					<p>A well-known quote, contained in a blockquote element.</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Someone famous in <cite title="Source Title">Source Title</cite>
				</figcaption>
			</figure>

		</div>
		<!-- </div>
	</div> -->
	</div>
	<div class="row studio-page__cirles-row">
		<div class="col-sm-12">
			<p class="display-4 text-center py-5">See our other studios</p>
		</div>
		<div class="studio__circle">
			<div class="studio_circle-bg" id="studio__cicle-a"></div>
			<a href="#studio-a">
				<p>Studio A</p>
			</a>
		</div>
		<div class="studio__circle">
			<div class="studio_circle-bg" id="studio__cicle-b"></div>
			<a href="#studio-b">
				<p>Studio B</p>
			</a>
		</div>
		<div class="studio__circle">
			<div class="studio_circle-bg" id="studio__cicle-rooftoop"></div>
			<a href="#studio-rooftop">
				<p>Rooftop</p>
			</a>
		</div>
		<div class="studio__circle">
			<div class="studio_circle-bg" id="studio__cicle-d"></div>
			<a href="#studio-d">
				<p>Studio D</p>
			</a>
		</div>
		<div class="studio__circle">
			<div class="studio_circle-bg" id="studio__cicle-e"></div>
			<a href="#studio-e">
				<p>Studio E</p>
			</a>
		</div>
	</div>
</div>

{%  endblock %}